* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, Helvetica, sans-serif;
  }
  
  /* Style the header */
  /*header {
    background-color: #666;
    padding: 30%;
    text-align: center;
    font-size: 35px;
    color: white;
  }
  
  /* Create two columns/boxes that floats next to each other */
  nav {
    float: left;
    width: 30%;
    height: auto; /* only for demonstration, should be removed */
    
    padding: 30px;
  }
  
  /* Style the list inside the menu */
  nav ul {
    list-style-type: none;
    padding: 0;
  }
  
  article {
    float: left;
    padding: 20px;
    width: 70%;
    background-color: #f1f1f1;
    height: 300px; /* only for demonstration, should be removed */
  }
  
  /* Clear floats after the columns */
  section::after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Style the footer */
  /*footer {
    background-color: #777;
    padding: 10px;
    text-align: left;
    color: white;
  }
  
  /* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens */
  @media (max-width: 600px) {
    nav , article {
      width: 100%;
      height: auto;
    }
  }




  .left {
    background-color:rgb(117, 126, 117) ;
    padding: 50px;
    color:white;
    font-size: 30px;padding: 30px;
    float: left;
    text-align: center;
    width: 100%; /* The width is 20%, by default */
  }

  .button {
border: none;
color: white;
width:15%;
height:40px;
text-align: center;
text-decoration:none;
display:inline-block ;
font-size: 16px;
margin: 4px 2px;
cursor: pointer;
}
.button1 {
background-color: white; 
color: black; 
border:none;
}

.button1:hover {
background-color: #4CAF50;
color: white;
}

.button2 {
background-color: white; 
color: black; 
border: none;
}

.button2:hover {
background-color: #008CBA;
color: white;
}
.ulb {
  list-style-type: none;
}
#parent{ 
  Display:flex;
}
#parent div{
  width:Auto;
  height:Auto;
  margin:10px;

}
p{
  padding: 30px;
}
#div1{
  width:50px;
  height:auto;
  
}